.produto{
    font-family:'comfortaa',sans-serif;
    background-color: #0009;
    width:480px;
    height: 450px;
    border: 2px solid #000;
    border-radius: 80px 0 80px 0px;
    color:white;
    background-position: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;

}

.produto input{

margin-left: 30%;

}

.produto button{

    border: none;
    outline: none;
    height: 35px;
    color:black;
    background:white;
    border-radius: 20px;
    transition: 0.2s;
    margin-top: -10%;
}

.produto h3{

    margin-top:-2% 

}
